version: "3"
services:
  https-portal:
    image: steveltn/https-portal:1
    container_name: nonono-https-portal-container
    ports:
      - 80:80
      - 443:443
    restart: always
    environment:
      DOMAINS: ${DOMAIN}
      STAGE: ${STAGE}
    volumes:
      - ./org-chimata-ssl-certs:/var/lib/https-portal

  php:
    build:
      context: ./docker/php
      args:
        - TZ=${TZ}
    container_name: nonono-php-container
    volumes:
      - ./src:/var/www/html
      - ./logs:/var/log/php
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
    working_dir: /var/www/html
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_DATABASE=${DB_NAME}
      - DB_USERNAME=${DB_USER}
      - DB_PASSWORD=${DB_PASS}
      - TZ=${TZ}

  web:
    image: nginx:1.17-alpine
    container_name: nonono-web-container
    depends_on:
      - php
    ports:
      - 8000:8000
    volumes:
      - ./src:/var/www/html
      - ./logs:/var/log/nginx
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    environment:
      - TZ=${TZ}

  node:
    image: node:12.14-alpine
    container_name: nonono-node-container
    tty: true
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html

  db:
    image: mysql:8.0
    container_name: nonono-mysql-container
    volumes:
      - db-store:/var/lib/mysql
      - ./logs:/var/log/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
      - MYSQL_ROOT_PASSWORD=${DB_PASS}
      - TZ=${TZ}

volumes:
  db-store:
