@import 'variables';

#blog {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: $mobile-break) {
      display: block;
    }

    .blog-main {
      flex: 1;
      margin-right: .25em;
      margin-bottom: 2em;
      padding: .25em .45em;
      background: rgba(255, 255, 255, .75);
      position: relative;
      box-sizing: border-box;
      box-shadow: 0 5px 8px rgba(0,0,0,.4);
      @media (max-width: $mobile-break) {
          margin: 0;
      }
    }

    .blog-sidebar {
      width: 25%;
      min-width: 166px;
      margin-bottom: 2em;
      padding: .25em .45em;
      background: rgba(255, 255, 255, .75);
      box-sizing: border-box;
      box-shadow: 0 5px 8px rgba(0,0,0,.4);
      @media (max-width: $mobile-break) {
        width: 100%;
        margin: 1.5em 0;
      }

      .date {
        font-size: 0.33em;
      }
    }
  }

  .post-box {
    border-bottom: 1px dashed #888;
    padding: .4em;

    .info {
      color: #777;

      .date, .categories {
        display: inline;
        font-size: .9em;
      }

      .categories {
        margin-left: 1em;

        a {
          margin-right: .5em;
        }
      }
    }
  }
}
